
/* General Website Colours */
body {
    /* background-color: blue; */
    /* width: fit-content; */
    font-family: 'Montserrat', sans-serif;
}

.light {
    background-color: #E8E6D9;
    /* background-color: #F2f2f2; */
}

.dark {
    background-color: #002939;
}

.hidden {
    display: none;
}


/* ************** navigation bar div ************** */

.navbar-brand {
    bottom: 200px;
    position: relative;
}

/* ************** introduction div ************** */ 

/* Byron Wang text */
.intro-big-text {
    position: relative;
    left: 120px;
    bottom: -125px;
}

.student-text {
    font-size: 20px;
    position: relative;
    color: gray;
    left: 56px;
    top: 140px;
}

/* About me subheading */
.about-me {
    position: relative;
    left: 600px;
    bottom: 350px;
}

.intro-paragraph {
    position: relative;
    left: 600px;
    bottom: 330px;
    width: 50%;
    font-size: 140%;
}

.profile {
    position: relative;
    left: 50px;
    top: 110px;
}

.indiv-icon {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
} 

.underneath-pic {
    position: relative;
    right: 25px;
}

.icons {
    text-align: center;
    position: relative;
    right: 404px;
    top: 160px;
}

a {
    color: grey;
    /* text-decoration: none; */
}

a:hover {
   color: #800020;
}

/* ************** projects div ************** */
#projects {
    background-color: white;
    height: 800px;
}
/* 
#EAE7DC;
#F2f2f2;
#C4DBF6; */



/* ************** blog div ************** */
#blog {
    /* background-color: #E8E6D9; */
    height: 800px;
}


/* ************** contact-me div ************** */
#contact-me {
    background-color: white;
    height: 800px;
}


/* ************** footer ************** */
.footer {
    text-align: center;
    margin-top: 25px;
}

.footer p {
    font-size: 20px;
}