/* light mode and dark mode declaration */
:root {
    /* colour of the site background */
    --primary-colour: #E8E6D9;
    /* colour of the text */
    --text-colour: black;
    /* when grey is used as a secondary color */
    --side-colour: grey;
    /* colour of the boxes, blogs, and header */
    --box-colour: white;
    /* button no hover colour */
    --button-colour: #c96567;
    /* button with hover colour */
    --button-hover-colour: #800020;
    /* read more hover colour */
    --read-color: white;
    /* dark mode/light mode hover colour */
    --toggle-colour: #9300ff;
    /* blog post body text */
    --new-side-colour: grey;
}

.dark-theme {
    /* colour of the site background */
    --primary-colour: #15202b;
    /* colour of the text */
    --text-colour: #E8E6D9;
    /* when grey is used as a secondary color */
    --side-colour: grey;
    /* colour of the boxes, blogs, and header */
    --box-colour: #3a6d8c;
    /* --box-colour: #003366; */
    /* button no hover colour */
    --button-colour: #b042ff;
    /* button with hover colour */
    --button-hover-colour: #9300ff;
    /* read more hover colour */
    --read-color: black;
    /* dark mode/light mode hover colour */
    --toggle-colour: gold;
    /* blog post body text */
    --new-side-colour: lightgrey;
}


/* General Website Colours */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-colour);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.mode {
    color: var(--text-colour);
    font-weight: 900;
    color: inherit;
}

/* .container {
    margin: 0;
    padding: 0;
    width: 100%;
} */

* {
    box-sizing: inherit;
}

nav a {
    font-size: 17px;
    color: white;
}

.light {
    background-color: var(--primary-colour);
}

.dark {
    background-color: #002939;
}

.hidden {
    display: none;
}

.blogImages {
    width: 100px;
}

#navbar, #toggle {
    color: white;
}

#toggle:hover {
    color: var(--toggle-colour);
}

/* ************** introduction div ************** */ 

#about-me {
    height: fit-content;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 0;
    display: flex;
    box-sizing: border-box;

    /* background-color: greenyellow; */

    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
    -o-transform: scale(0.9, 0.9); /* Opera */
    -moz-transform: scale(0.9, 0.9); /* Firefox */

}


/* right side of intro (text) -------------------------------- */
.right-text {
    margin-top: 2rem;
    width: 60%;
    height: fit-content;
    position: relative;
    margin-left: 3rem;
    /* background-color: green; */

    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

/* About me subheading */
.about-me {
    position: relative;
    top: 18%;
}

.intro-paragraph {
    position: relative;
    top: 20%;
    width: 100%;
    font-size: 140%;
}


/* left side of intro -------------------------------- */
.left-images {
    width: 40%;
    text-align: center;
    /* background-color: red; */
    box-sizing: border-box;
}

.left-images-copy {
    display: none;
}

/* Byron Wang text */
.intro-big-text {
    position: relative;
    padding-top: 1rem;
    /* left: 20%; */
    /* bottom: -135px; */
}

.student-text {
    font-size: 20px;
    position: relative;
    color: var(--side-colour);
    padding: 1rem 0;
    /* top: 160px; */
}

.profile {
    position: relative;
    margin-top: 3rem;
}

.indiv-icon {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
} 

.underneath-pic {
    position: relative;

    text-align: center;

    height: fit-content;
    box-sizing: border-box;
}

.icons {
    text-align: center;
    position: relative;
    /* top: 180px; */
}

a {
    color: var(--button-colour);
}

a:hover {
   color: var(--button-hover-colour);
}

/* ************** projects div ************** */

.projectContent .card {
    background-color: var(--box-colour);
}

.projectContent section {
    margin: 0;
    padding: 0;
}

/* section */
#projects {
    padding: 30px 0px;
}

#projects h1 {
    /* font-weight: 900; */
    /* font-size: 34px; */
    padding-bottom: 5px;
}

.projectTitle {
    text-align: center;
    padding: 25px 0px;
}

.card-title {
    font-weight: 900;
}

.card-text {
    color: var(--new-side-colour);
}

.projectTitle p {
    font-size: 18px;
}

.card-img-top {
    border-radius: 15px 15px 0 0;
}

.projectBody .card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.projectBody .card {
    margin: 20px 10px;
    border-radius: 15px;
}

.projectBody .card-body a {
    margin-top: auto;
}

.projectButton a {
    text-decoration: none;
    background: var(--button-colour);
    color: var(--text-colour);
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}

.projectButton a:hover {
    background-color: var(--button-hover-colour);
    color: var(--read-color);
}

/* ************** blog div ************** */

/* blog card layout from: https://blog.avada.io/css/blog-cards#blog-posts-card-layout-booligoosh */

.blogContent .spacer {
    padding: 0;
    margin: 0;
}

.blogContent .blogTitle {
    position: relative;
    /* margin-top: 3.5rem; */
    text-align: center;
}

.blogTitle p {
    font-size: 20px;
}

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

.blogContent * {
  box-sizing: border-box;
}

.content {
    padding-top: 4rem;
}

.blogContent body, .projectContent body {
  margin: 0;
  min-height: 100vh;
}

.blogContent .card a {
  color: inherit;
}

.blogContent .cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.blogContent .card {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: #E8E6D9;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.blogContent .card:hover {
  transform: rotate(0);
}

.blogContent .card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.blogContent .card p {
  font-size: 0.75em;
  /* font-family: 'Open Sans'; */
  margin-top: 0.5em;
  line-height: 2em;
}

.blogContent .card .tags {
  display: flex;
}

.blogContent .card .tags .tag {
  font-size: 0.75em;
  /* background: rgba(255,255,255,0.5); */
  background: var(--button-colour);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.blogContent .card:hover .tags .tag {
  background: var(--button-hover-colour);
  color: white;
}

.blogContent .card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  padding-bottom: 2rem;
  line-height: 1em;
  opacity: .8;
}

.blogContent .card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.blogContent .card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.blogContent .card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.blogContent .card:hover {
  color: var(--color);
}

.blogContent .card:hover:before, .card:hover:after {
  transform: scale(1);
}

.blogContent .card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.blogContent .info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.blogContent .info img {
  height: 3em;
  margin-right: 0.5em;
}

.blogContent .info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
    .blogContent .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
    .blogContent .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .blogContent .info {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
    .blogContent .cards-wrapper {
    padding: 4rem 2rem;
  }
  .blogContent .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
    .blogContent .info {
    display: block;
    text-align: center;
  }
  .blogContent .info h1 {
    margin: 0;
  }
}






/* ************** footer ************** */
.footer {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 1%;
}

.footer p {
    font-size: 20px;
}

.sideFooter {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 1%;
}


/* ******************* blog page and project page setup ******************* */
.blog-page {
    display: inline-block;
    /* text-align: center; */
}

.projectTitle {
    position: relative;
    /* margin-top: 1rem; */
    text-align: center;
}

.blogDate, .projectDate {
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blog-page h3 {
    color: var(--button-hover-colour);
}

.blog-page p, li, blockquote {
    font-size: 19px;
    margin: 0;
}

.blogContent, .projectContent {
    margin: 4rem 4rem;
}

blockquote {
    background: var(--box-colour);
    border-left: 10px solid var(--side-colour);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
blockquote p {
    display: inline;
  }

.project-icons {
    font-size: 23px;
}

.postPicture {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-size: 18px;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */

/* media query template */

@media (max-width: 465px) {
    .left-images-copy {
        display: inline-flex;
        margin: 2rem 2rem;
    }

    #about-me {
        flex-direction: column;
        height: fit-content;
    }

    .right-text {
        width: 100%;
        margin: 0;
        font-size: 12px;
        top: 18rem;
    }

    .profile {
        width: 150px;
        height: 150px;
        top: 5rem;
        margin-right: 1rem;
    }

    .intro-big-text {
        font-size: 10px;
        /* top: -10px; */
        /* margin-bottom: 2rem; */
    }

    .student-text {
        font-size: 6px;
        top: 105px;
        /* margin-top: 1rem; */
    }

    .indiv-icon {
        margin-left: 2px;
        margin-right: 2px;
        cursor: pointer;
    } 

    .left-images {
        display: none;
    }
}

@media (max-width: 480px) {

    .left-images-copy {
        display: inline-flex;
        margin: 2rem 2rem;
    }

    .blog-page p, li, blockquote {
        font-size: 12px;
    }

    .blog-page h3 {
        font-size: 14px;
    }

    .blog-page h1 {
        font-size: 16px;
    }

    .postPicture {
        width: 170px;
        height: 170px;
    }

    figcaption {
        font-size: 12px;
    }

    #about-me {
        flex-direction: column;
        height: fit-content;
    }

    .right-text {
        width: 100%;
        margin: 0;
        font-size: 12px;
        top: 18rem;
    }

    .profile {
        width: 180px;
        height: 180px;
        top: 4rem;
        margin-right: 1rem;
    }

    .intro-big-text {
        font-size: 26px;
        top: 100px;
    }

    .student-text {
        font-size: 16px;
        top: 105px;
    }

    .icons {
        font-size: 10px;
        top: 110px;
    }

    .left-images {
        /* width: 80%; */
        display: none;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .blog-page p, li, blockquote {
        font-size: 17px;
    }

    .postPicture {
        width: 200px;
        height: 200px;
    }

    figcaption {
        font-size: 15px;
    }

    .profile {
        height: 200px;
        width: 200px;
    }

    .right-text {
        font-size: 12px;
    }

    .icons {
        font-size: 15px;
    }

    .intro-big-text {
        font-size: 26px;
    }

}
@media (min-width: 769px) and (max-width: 1024px) {
    .right-text {
        font-size: 15px;
        top: 340px;
    }
}

@media (min-width: 481px) and (max-width: 530px) {
    .right-text {
        font-size: 11px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .about-me {
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .mainPage {
        text-align: center;
    }
    
    .profile {
        height: 250px;
        width: 250px;
        top: 130px;
    }
    
    .right-text {
        font-size: 13px;
        /* margin-top: 2rem; */
        margin-left: 1.5rem;
        text-align: left;
        top: 340px;
    }

    .about-me, .intro-big-text {
        font-size: 32px;
        padding-bottom: 1rem;
    }

    .intro-big-text {
        top: 150px;
    }

    .student-text {
        font-size: 20px;
        top: 145px;
    }

    .icons {
        top: 160px;
        font-size: 13px;
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
    .right-text {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .about-me {
        margin-bottom: 2rem;
    }
}
