
/* General Website Colours */
body {
    /* background-color: blue; */
    /* width: fit-content; */
}

.light {
    background-color: #E8E6D9;
}

.dark {
    background-color: #002939;
}

.hidden {
    display: none;
}


/* ************** navigation bar div ************** */
.navigation-bar {
    /* background-color: blueviolet; */

}

.navbar-brand {
    bottom: 130px;
    position: relative;
}

/* ************** introduction div ************** */ 
.intro {
    position: relative;
    height: 1000px;
    width: 100%;
    /* background-color: blue; */
}

/* personal image */
.logo {
    position: relative;
    left: 100px;
    top: 130px;
    pointer-events: none;
}

.intro-big-text {
    position: relative;
    left: 650px;
    bottom: 300px;
}

.intro-paragraph {
    position: relative;
    left: 600px;
    bottom: 280px;
    width: 50%;
    font-size: 140%;
}

.profile {
    position: relative;
    left: 50px;
    top: 100px;
}
